# JWT
AUTH_TOKEN_EXPIRATION_TIME="7d"
AUTH_TOKEN_SECRET="replace-me-with-random-long-string"

# DATABASE
DB_HOST="localhost"
DB_NAME=""
DB_PASSWORD=""
DB_PORT="5432"
DB_USER="postgres"
DB_MAIN_SCHEMA="public"
DB_AUDIT_SCHEMA="audit"

# LOGGING (LogDNA)
LOGDNA_KEY=""
LOGDNA_HOSTNAME="localhost"
LOGDNA_APPNAME="node-boilerplate"

# DEPLOYMENT (for production only)
AWS_ECR_REPO_URI=""
AWS_ECR_REPO_NAME=""
AWS_ECS_CLUSTER_NAME=""
AWS_ECS_SERVICE_NAME=""
AWS_REGION=""

# SERVER
SERVER_PORT="5000"
